<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAuIJLThXah9utj10grCF1Z176xP15W-as</string>
	<key>GCM_SENDER_ID</key>
	<string>889056816554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vicentecantu.iOSExam</string>
	<key>PROJECT_ID</key>
	<string>ios-test-5e805</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-test-5e805.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889056816554:ios:2645da26364948217ecfd3</string>
</dict>
</plist>